* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://www.transparenttextures.com/patterns/cubes.png'), linear-gradient(to right, #ffffff, #dfe9f3);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}


h1 {
    /* Alineación del texto */
    text-align: center;
    /* Grosor de la fuente negrita */
    font-weight: bold;
    font-family: "WDXL Lubrifont TC";
}

.subtitle {
  color: rgb(151 156 165 / 0.89);
  text-transform: uppercase;
}

#photo {
  width: 100px;      /* o el tamaño que prefieras */
  height: 100px;     /* asegúrate que sea igual al width */
  object-fit: cover; /* para que la imagen no se deforme */
  border-radius: 50%;
}

footer p {
  text-align: right;
  font-style: italic;
}

nav > ul {
    display: flex;
    
    justify-content: space-between; 
    flex-direction: row; 
    align-items:center; 
    gap: 1rem;
    list-style: none;
}

section {
  border: 0.2pt solid #cedddd;
  margin: 4px 2px 8px 2px;
  margin-bottom: 1.2rem;
  padding: 1.5% 0.8%;

  /* borde redondeado con un radio de 5 píxeles */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /* sombra a un elemento */
  -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
  -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
  box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}

section > form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

section#referencias {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 1rem;
     justify-content: space-between;
}

section#referencias h2 {
  flex: 0 0 100%;
  text-align: center;
}

section#referencias article {
  flex: 1 1 calc(33.333% - 1rem);
}

span {
  font-weight: bold;
}

article {
  text-align: center;
}